@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --darkModeBackgroundColor: #F8F8FF;
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #d6d6d6;
  }
}

body {
  background: var(--darkModeBackgroundColor);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.dark body {
  background-color: #0A0A0A;
  color: #F8F8FF;
}

html {
  transition: background-color 0.3s, color 0.3s;
}